<link rel="stylesheet" type="text/css" href="/css/style.css">
  <div id="contact-form">

    <h1>Get In Touch!</h1>
    <form method="post" action="/signup">
        <label for="name">Name: </label>
        <input type="text" id="name" name="name" value="" placeholder="Your name here" required="required" autofocus="autofocus" />
        <label for="email">Email address: </label>
        <input type="email" id="email" name="email" value="" placeholder="Your email here" required="required" />
        <input type="submit" value="submit" id="submit-button"> </form>
</div>