<!doctype html>
<title>Sinatra webapp</title>

<% if @name %>   

     <h1>Hello <%= @name %>!</h1>
 <% else %>
 <h1> Hello World!</h1>

<h2> Welcome to the Ruby page </h2>

 <% end %>


<!-- ruby code goes insite the <% markers -->